/* Custom fonts */
@font-face {
    font-family: 'neon';
    src: url(../ASSETS/fonts/Neoneon-3zaD6.otf);
}

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
#container{
    height: 100vh;
    width: 100%;
    background-image: url("../ASSETS/images/space_background_main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: monospace;
}

header{
    padding: 2rem;
    text-align: right;
}

header a{
    padding: 1rem 4rem;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 10px;
    transition: all ease-in .35s;
}

header a:hover{
    background-color: white;
    color: #000000;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #080a10;
    justify-content: center;
    height: 50%;
}

#title h1{
    font-family: 'neon';
    font-size: 9rem;
    font-weight: bolder;
}

#title p{
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#links{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
}

.card{
    padding: 3rem 4rem;
    background-image: linear-gradient(135deg, #000000, #737373);
    border-radius: 10px;
    box-shadow: 5px 8px 10px black;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

#links #mars{
    background-image: url(../ASSETS/images/mars_button.png);
    background-position: center;
    background-size: cover;
}

#links #earth{
    background-image: url(../ASSETS/images/earth_button.jpg);
    background-position: center;
    background-size: cover;
}

#links #asteroids{
    background-image: url(../ASSETS/images/Asteroids_button.avif);
    background-position: 0 0;
    background-size: cover;
}

#links #gallery{
    background-image: url(../ASSETS/images/gallery_button.jpg);
    background-position: center;
    background-size: cover;
}

/* Media Queries for Responsiveness */

/* Tablets and Small Laptops */
@media (max-width: 1024px) {
    #title h1 {
        font-size: 6rem;
    }

    #title p {
        font-size: 2rem;
    }

    .card {
        width: 150px;
        height: 150px;
        padding: 2rem;
        font-size: 1rem;
    }
}

/* Smartphones */
@media (max-width: 768px) {

    #container{
        background-image: url(../ASSETS/images/background-mobile.jpeg);
        background-size: cover;
        height: auto;
    }

    .card {
        padding: 1.5rem;
        font-size: 1rem;
    }

}

/* Very Small Screens */
@media (max-width: 480px) {
    .card {
        
        padding: 1rem;
        font-size: 1rem;
    }
}
